.gdb_history
Cargo.lock
target/
.cargo/
.vscode/
/.idea/.gitignore
/.idea/discovery-mb2.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/mdbook/src/id_mb2.txt
/Freenove_Super_Starter_Kit_for_microbit-main.zip
/mdbook/src/07-led-roulette/examples/my_solution.rs
